<div class="row">

    <div class="card-panel align-wrapper">
        <div class="row">
            <div class="input-field col s2 m4">
                ** Give your unique token and access your account 
            </div>
            <div class="input-field col s8 m3" >
                <input id="logintoken" type="text" class="validate" ng-model="logintoken">
                <label for="logintoken">Token</label>
            </div>
            <div class="input-field col s2 m4">
                <button class="btn btn-floating waves-effect waves-light z-depth-3" ng-click="tokenlogin()">
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</div>